<div class="bg">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <button type="button" class="button settings"><i class="material-icons">settings</i>Settings</button>
  </div>

  <ng-container>
  <div class="content" role="main">

  <!-- Highlight Card -->
    <div class="col ui-g-12 card highlight-card card-small">

    <!-- <span>Smart Planter</span> -->
      <mat-icon>local_florist</mat-icon>
      Smart Planter
      <mat-icon>local_florist</mat-icon>
    </div>

    <div class="col ui-g-12 card-container">
      <mat-card *ngFor="let p of plantList">
        <mat-card-header>
          <mat-card-title>
            {{p.name}}: {{p.type}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <button mat-fab [ngClass]="{inSpec:valid==1,warningSpec:valid==2,outOfSpec:valid==3}" aria-label="Sunlight">
            <mat-icon>wb_sunny</mat-icon>
          </button>
          <button mat-fab matTooltip="{{'Current Moisture: '+p.currentMoisture+'\nMin Moisture: '+p.minMoisture+'\nMax Moisture: '+p.maxMoisture}}"
          [ngClass]="{inSpec:p.currentMoisture>=p.minMoisture&&p.currentMoisture<=p.maxMoisture,
            outOfSpec:p.currentMoisture<p.minMoisture||p.currentMoisture>p.maxMoisture,
              warningSpec:p.currentMoisture<=((p.maxMoisture-p.minMoisture)/4)+p.minMoisture&&p.currentMoisture>=p.minMoisture}" aria-label="Soil_Moisture">
            <mat-icon>opacity</mat-icon>
          </button>
          <button mat-fab matTooltip="{{'Current Temperature: '+p.currentTemperature+' Degrees F'+'\nMin Temperature: '+p.minTemperature+'\nMax Temperature: '+p.maxTemperature}}" 
          [ngClass]="{inSpec:p.currentTemperature>=p.minTemperature&&p.currentTemperature<=p.maxTemperature,
            outOfSpec:p.currentTemperature<p.minTemperature||p.currentTemperature>p.maxTemperature,
              warningSpec:p.currentTemperature<=((p.maxTemperature-p.minTemperature)/4)+p.minTemperature&&p.currentTemperature>=p.minTemperature}" aria-label="Temperature">
            <mat-icon>whatshot</mat-icon>
          </button>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="removePlant(p)">Remove Card</button>
        </mat-card-actions>
      </mat-card>
    
    </div>

    <div class="row">
      <button mat-button class="button add-card" (click)="addPlant()"><i class="material-icons">add</i>Add Card</button>
    </div>

    <input type="hidden" #selection>

 
    <footer>
      
    </footer>

  </div>
  </ng-container>


  <router-outlet></router-outlet>
</div>