<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button type="button" class="button settings"><i class="material-icons">settings</i>Settings</button>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>Smart Planter</span>

  </div>

  <div class="card-container">
    <!---<a class="card" target="_self" rel="noopener" href="https://angular.io/tutorial">
      <span>Card 1</span>
    </a>

    <a class="card" target="_self" rel="noopener" href="https://angular.io/cli">
      <span>Card 2</span>
    </a>

    <a class="card" target="_self" rel="noopener" href="https://blog.angular.io/">
      <span>Card 3</span>
    </a>--->

    <mat-card>
      <mat-card-content>
        <div class="card-title">Card 1</div>
        <mat-progress-spinner
          class="soil-moisture"
          color="warn"
          mode="determinate"
          value="100"
          diameter="65"
        >       
        </mat-progress-spinner>
        
        <mat-progress-spinner
          class="soil-moisture"
          color="warn"
          mode="determinate"
          value="100"
          diameter="65"
        >     
        </mat-progress-spinner>

        <mat-progress-spinner
          class="soil-moisture"
          color="warn"
          mode="determinate"
          value="100"
          diameter="65"
        >        
        </mat-progress-spinner>

      </mat-card-content>
      <mat-card-footer>
        <div class="spinner-label">Soil Moisture</div>
        <div class="spinner-label">Sunlight</div>
        <div class="spinner-label">Temperature</div>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div class="card-title">Card 2</div>
        <mat-progress-spinner
          class="soil-moisture"
          color="warn"
          mode="determinate"
          value="100"
          diameter="65"
        >       
        </mat-progress-spinner>
        
        <mat-progress-spinner
          class="soil-moisture"
          color="warn"
          mode="determinate"
          value="100"
          diameter="65"
        >     
        </mat-progress-spinner>

        <mat-progress-spinner
          class="soil-moisture"
          color="warn"
          mode="determinate"
          value="100"
          diameter="65"
        >        
        </mat-progress-spinner>

      </mat-card-content>
      <mat-card-footer>
        <div class="spinner-label">Soil Moisture</div>
        <div class="spinner-label">Sunlight</div>
        <div class="spinner-label">Temperature</div>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div class="card-title">Card 3</div>
        <mat-progress-spinner
          class="soil-moisture"
          color="warn"
          mode="determinate"
          value="100"
          diameter="65"
        >       
        </mat-progress-spinner>
        
        <mat-progress-spinner
          class="soil-moisture"
          color="warn"
          mode="determinate"
          value="100"
          diameter="65"
        >     
        </mat-progress-spinner>

        <mat-progress-spinner
          class="soil-moisture"
          color="warn"
          mode="determinate"
          value="100"
          diameter="65"
        >        
        </mat-progress-spinner>

      </mat-card-content>
      <mat-card-footer>
        <div class="spinner-label">Soil Moisture</div>
        <div class="spinner-label">Sunlight</div>
        <div class="spinner-label">Temperature</div>
      </mat-card-footer>
    </mat-card>

    <button type="button" class="button add-card"><i class="material-icons">add</i>Add Card</button>

  </div>

  <input type="hidden" #selection>

 
  <footer>
      
  </footer>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>